<html>
<body>
    <h2>Nannies</h2>
    <a href="/">Back to home</a>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <p style="color:red">{{ status|safe }}</p>
    <!-- Create Job -->
    <article id="create_job">
        <h2 class="major">Browse Jobs</h2>
        <form method="POST" action="">
            {% csrf_token  %}
            <div class="fields">
                <div class="field half">
                    {{ filterjob_form.min_start_date.label }}

                    {% if filterjob_form.min_start_date.errors %}  
                        {{ filterjob_form.min_start_date}}
                        <div class="invalid-feedback">
                            {% for error in filterjob_form.min_start_date.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ filterjob_form.min_start_date }}
                    {% endif %}
                </div>

                <div class="field half">
                    {{ filterjob_form.min_start_time.label }}

                    {% if filterjob_form.min_start_time.errors %}  
                        {{ filterjob_form.min_start_time}}
                        <div class="invalid-feedback">
                            {% for error in filterjob_form.min_start_time.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ filterjob_form.min_start_time }}
                    {% endif %}
                </div>

                <div class="field half">
                    {{ filterjob_form.max_end_date.label }}

                    {% if filterjob_form.max_end_date.errors %}  
                        {{ filterjob_form.max_end_date}}
                        <div class="invalid-feedback">
                            {% for error in filterjob_form.max_end_date.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ filterjob_form.max_end_date }}
                    {% endif %}
                </div>

                <div class="field half">
                    {{ filterjob_form.max_end_time.label }}

                    {% if filterjob_form.max_end_time.errors %}  
                        {{ filterjob_form.max_end_time}}
                        <div class="invalid-feedback">
                            {% for error in filterjob_form.max_end_time.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ filterjob_form.max_end_time }}
                    {% endif %}
                </div>

                <div class="field half">
                    {{ filterjob_form.min_rate.label }}

                    {% if filterjob_form.min_rate.errors %}  
                        {{ filterjob_form.min_rate}}
                        <div class="invalid-feedback">
                            {% for error in filterjob_form.min_rate.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ filterjob_form.min_rate }}
                    {% endif %}
                </div>

                <div class="field half">
                    {{ filterjob_form.min_experience_req.label }}

                    {% if filterjob_form.min_experience_req.errors %}  
                        {{ filterjob_form.min_experience_req}}
                        <div class="invalid-feedback">
                            {% for error in filterjob_form.min_experience_req.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ filterjob_form.min_experience_req }}
                    {% endif %}
                </div>

      
            </div>
            <ul class="actions">
                <li><input type="submit" value=Submit></li>
            </ul>
            {% for item in results %}    
                {{ item.0 }} {{ item.1}} {{ item.2 }} {{ item.3 }} {{ item.4 }} {{ item.5 }} {{ item.6 }} {{ item.7 }} {{ item.8 }} {{ item.9 }}     
            {% endfor %}
        </form>
    </article>
</body>
</html>

