<html>
<body>
    <h2>Your Job History</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table border="1">
        <tr style="text-align:center">
        <th>Job ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Rate</th>
        <th>Job Requirement</th>
  
        </tr>
        <tr>
        <td> {{ record.0 }} </td>
        <td> {{ record.1 }} </td>
        <td> {{ record.2 }} </td>
        <td> {{ record.3 }} </td>
        <td> {{ record.4 }} </td>
        <td> {{ record.5 }} </td>
        <td> {{ record.6 }} </td>
        </tr>
    </table>
</body>
</html>